# Dependencies
node_modules/

# Prisma
server/prisma/dev.db
server/prisma/dev.db-journal

# Environment variables
.env
.env.local
.env.production
server/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
server/logs/

# Uploads
server/uploads/

# Build output
client/dist/
